h1,h2{
    color: white;
}

p{
    color: #ffffff;
}

header{
  background-color: #202129;
  height: 65px;
  align-items: center;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

body{
  background:#191919;
  max-width: 1280px;
  margin: auto;
}

.container{
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
}

.header-list li{
    margin-right: auto;
    text-align: right;
    color: #DDDDDD;
    list-style: none;
    padding: 5px 10px;
}

button{
  border: none;
  background: transparent;
  color: #DDDDDD;
  font-size: 16px;
}

.btn-instagram {
  background: linear-gradient(45deg, rgb(254 189 42) 0%,rgba(229,61,93,1) 50%,rgba(194,49,134,1) 70%,rgba(156,56,187,1) 100%);
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0,0,0,.15);
  color: #fff;
  display: inline-block;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all .2s linear;
  width: 171px;
  font-size: 11px;
}

.btn-instagram:hover {
  box-shadow: 0 0 30px rgb(252, 44, 158);
}

  .instagram {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 10em;
    background: linear-gradient(to right,
        rgba(247, 207, 0, 0.7),
        rgba(246, 37, 2, 0.7) 45%,
        rgba(182, 47, 82, 0.7) 75%,
        rgba(113, 58, 166, 0.7));
    color: #fff;
    text-decoration: none;
    line-height: 1;
}

  a.btn_04 circle:hover{
    color: #292a2d;
  }


.main {
    padding: 30px 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main >.top{
  margin-right: -200px;
  width: 100%;
  height: 100%;
  z-index: 200;
}


.mainimage{
  position: relative;
  width: 80%;
  height: auto;
}

.mainimage::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow:inset 0px 0px 43px 60px #1a1a1af7;
}

.mainLogo{
  width: 600px;
  height: 630px;
  /*object-fit: none;*/
}

.services{
  padding: 0 100px 30px;
}

.btn {
  display: flex;
}

.circle {
  display: inline-block;
  padding: 20px 30px;
  margin: 25px;
  position: relative;
  font-size: 40px;
}
.circle::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(45deg,#ffb300,#ff00ff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

a.btn_04:hover .fa-regular{
  display: inline-block;
  background: linear-gradient(45deg,#ffb300,#ff00ff);
  background: -webkit-linear-gradient(45deg,#ffb300,#ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-solid{
  font-size: 34px;
}

a.btn_04:hover .fa-solid{
  display: inline-block;
  background: linear-gradient(45deg,#ffb300,#ff00ff);
  background: -webkit-linear-gradient(45deg,#ffb300,#ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.btn_04:hover p{
  color: #000;
}

.txt1, .txt3{
  font-size: 13px;
  opacity: 0.5;
  display:block;
  margin-bottom: 50px;
  margin-top: 10px;
}

.txt4{
  font-size: 13px;
  opacity: 0.8;
  text-decoration: underline;
}

a.btn_04:hover .txt4{
  display: inline-block;
  background: linear-gradient(135deg, #f89e37 0%, #f81592 100%);
  background: -webkit-linear-gradient(-45deg, #f89e37 0%, #f81592 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt2{
font-size: 13px;
opacity: 0.5;
display:block;
margin-bottom: 30px;
margin-top: 10px;
}

a.btn_04 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 270px;
	margin: auto;
	padding: 25px;
	font-weight: bold;
	border: 1px solid #c5c8c971;
	background: rgba(0,0,0,0);
	color: #fff;
	border-radius: 10px;
	transition: 0.5s;
}

a.btn_04:hover {
	color:black;
	background: #fff;
}


.movie{
  background-position: center;
  width: 100%;
  height: 450px;
  object-fit: cover;
  opacity: 0.1;
  margin-top: 20px;
  position: relative;
  Z-INDEX: -500;;
}

.main2{
  position: relative;
}

.key{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.main3{
  padding: 30px 100px;
}

.flowbtn9 .fab{
  display: inline-block;
  background: linear-gradient(135deg, #f89e37 0%, #f81592 100%);
  background: -webkit-linear-gradient(-45deg, #f89e37 0%, #f81592 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flowbtn9{
  display:inline-block;	
  font-size:30px;
  text-decoration:none;
  transition:.5s;
}

.flowbtn9 .fa-instagram{
    color:#c6529a;
}

.photos01{
  display: none;
}

.photos{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.mainphoto{
  width: 43%;
  height: auto;
  margin-right: 20px;
}

.subphotos{
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

.photo{
  border-radius: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
 }


.items{
  width: 100%;
  height: auto;
}



.About{
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text{
  width: 100%;
  height: 100%;
}

.tow {
  height: 500px;
  width: 430px;
}

.inquiry{
  padding: 30px 100px;
}


footer {
  background-color: #202129;
  display: flex;
  padding: 0 35px;
  align-items: center;
  height: 60px;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
.footer-logo {
  height: 60px;
  width: 80%;
}

footer p {
  width: 100%;
  text-align: right;
  align-items: center;
}


/*-----------------ContactForm-----------------------*/

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  flex-direction: column;
  text-align: center;
}

/* Left contact page */
.form-horizontal {
  max-width: 100%;
  font-family: 'Lato';
  font-weight: 400;
  margin: 0 auto;
}

.form-control, 
textarea {
  max-width: 390px;
  background-color: #000000;
  color: #fff;
  letter-spacing: 1px;
  margin: 10px;
  width: 100%;
  border-radius: 6px;
}

.send-button {
  margin-top: 19px;
  height: 39px;
  width: 95%;
  overflow: hidden;
  transition: all .2s ease-in-out;
  margin: 19px auto;
  background-color: #ffffff;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
  line-height: 2;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  margin: 0 auto;
}

/* Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 35%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255,255,255,.6);
}


/* ボタン全体 */
.flowbtn17{
  border-radius:50%;
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:30px;
  text-decoration:none;
  transition:.5s;
  background-color:#444;
  color:#fff;
  }
  /* ボタンマウスホバー時のテキスト指定 */
  .flowbtn17:hover{
  text-decoration:none;
  }
  /* アイコンをど真ん中に */
  .flowbtn17 i{
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  }
  /* Twitterマウスホバー時 */
  .flowbtn17.fl_tw2:hover{
  background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
  }
  /* Instagramマウスホバー時 */
  .flowbtn17.insta_btn2:hover{
    background: linear-gradient(135deg, #f89e37 0%, #f81592 100%);
    background: -webkit-linear-gradient(-45deg, #f89e37 0%, #f81592 100%);
  }

  /* ulタグの内側余白を０にする */
ul.snsbtniti{
  padding:0 120px;
  margin: 0;
  list-style-type:none!important;
  }
  /* ボタン全体の位置 */
  .snsbtniti{
  display:flex;
  flex-flow:row wrap;
  }
  /* ボタン同士の余白 */
  .snsbtniti li{
  margin: 10px;
  text-align:center !important;
  }
/* -----------------モバイル対応------------------*/



@media(max-width: 767px) {
  .container{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  img {
    max-width: 100%;
    vertical-align: top;
  }

  body{
    max-width: 767px;
    padding: 0 4%;
  }

  p br{
    display: none;
  }

  h1 br{
    display: none;
  }

  .top h1{
    margin-top: 0;
  }

  .main{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0;
    width: 100%;
  }

  .mainLogo{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .mainimage{
    position: relative;
    width: 235px;
    height: auto;
  }

  .mainimage::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 50px 30px #1a1a1af7;
  }

  .services{
    display: none;
  }

  .btn {
    flex-direction: column;
    gap: 15px;
  }

  .movie {
    background-position: center;
    width: 100%;
    height: 450px;
    object-fit: cover;
    opacity: 0.1;
    margin-top: 50px;
    position: relative;
    Z-INDEX: -500;
}

  .tow {
    height: auto;
    width: 75%;
}

.main3{
  padding: 0 4%;
}

  .main >.top{
    margin-right: 0px;
  }
 
  .services{
    padding: 0;
  }

  .About{
    padding: 10px 4%;
    align-items: center;
    flex-direction: column-reverse;
    margin: 30px 0
  }

  .inquiry{
    padding: 10px 4%;
  }

.gmail{
  margin-left: 10px;
}
  
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 0;
}

.photos{
  display: block;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.mainphoto{
  width: 100%;
  height: auto;
  margin-right: 6px;
}

.subphotos{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.photo{
  border-radius: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
 }


.items{
  width: 100%;
  height: auto;
}

/* スクロールスナップ


.items01{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}
.photos01 {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
}
.photos01 .items01 {
  scroll-snap-align: center;
  flex-shrink: 0;
}

スクロールスナップ終了*/


.header-logo{
  width: 50%;
}
.header-list{
  display: none;
}

footer{
  flex-direction: column;
}

/*---------contact form-----*/
.alt-send-button {
  width: 280px;
  height: 34px;
  transition: all .2s ease-in-out;
  line-height: 2;
}
.form-control, textarea {
  max-width: 90%;
}

.section-header {
  padding: 10px 0;
}

/* hamburgerここから */
	/* inputを非表示 */
  .input-hidden{
    display: none;
  }
    /* label */
  .hamburger-demo-switch{
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 0; /* ハンバーガーアイコンの位置（上から） */
    z-index: 9999;
    width: 4em; /* アイコン（クリック可能領域）の幅 */
    height: 4em; /* アイコン（クリック可能領域の）高さ */
  }
  /* メニュー展開時にハンバーガーアイコンを固定 */
  #hamburger-demo1:checked ~ .hamburger-demo-switch{
    position: fixed;
  }
  /* ハンバーガーアイコン */
  .hamburger-switch-line1, .hamburger-switch-line1-before, .hamburger-switch-line1-after{
    width: 25px;
    height: 3px;
    background: #a09f9f; /* ハンバーガーアイコンの色 */
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s;
    content: "";
  }
  .hamburger-switch-line1{
      transform: translate(-50%, -50%);
  }
  .hamburger-switch-line1-before{
    transform: translate(-50%, -300%);
  }
  .hamburger-switch-line1-after{
    transform: translate(-50%, 200%);
  }
  /* ハンバーガーアイコン･アニメーション */
  #hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
    width: 0;
  }
  #hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1-before{
    transform: rotate(45deg) translate(-40%, 325%);
  }
  #hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1-after{
    transform: rotate(-45deg) translate(-40%, -325%);
  }
  /* メニューエリア */
  .hamburger-demo-menuwrap{
    position: fixed;
    height: 100%;
    background: #575656; /* メニューエリアの背景色 */
    padding: 5em 3% 2em;
    z-index: 9998;
    transition: .3s;
    overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
    top: 0;
    left: 100%;
    width: 70%;
  }
  /* メニューリスト */
  .hamburger-demo-menulist{
    margin-right: 3%;
    padding-left: 5% !important; /* !important不要な場合もあり */
    list-style: none;
    flex-direction: column;
  }


  .hamburger-demo-menulist li a{
    text-decoration: none;
    color: #dbdada; /* メニューリストの文字色 */
    display: block;
    padding: .5em 0;
  }
  /* メニューエリア･アニメーション */
    /* 右から */
  #hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
    left: 50%;
  }
    /* コンテンツカバー */
  #hamburger-demo1:checked ~ .hamburger-demo-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9997;
    background: rgba(3,3,3,.5);
    display: block;
  }


  /*---------------アコーディオンメニュ------------*/
  .circle {
    display: inline-block;
    padding: 4px 12px;
    margin: 0 -20px;
    position: relative;
    font-size: 28px;
}

.txt1 {
  font-size: 13px;
  opacity: 0.5;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
}

.txt2 {
  font-size: 13px;
  display: block;
  margin-bottom: 0px;
  margin-top: 10px;
  background: linear-gradient(45deg,#ffb300,#ff00ff);
  background: -webkit-linear-gradient(45deg,#ffb300,#ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



a.btn_04 {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #c5c8c971;
  background: rgba(0,0,0,0);
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
  padding: 6px 10px 0px 0px;
  margin: 10px;
  width: 95%;
  padding: 0px;
}

a.btn_04:hover {
	color:white;
	background:#191919;
}

.fa-solid{
  font-size: 23px;
}

.accordion-004 {
  max-width: 500px;
}

.accordion-004 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.accordion-004 summary::-webkit-details-marker {
  display: none;
}

.accordion-004 summary::before,
.accordion-004 summary::after {
  width: 3px;
  height: .9em;
  border-radius: 5px;
  background-color: #ffffffb3;
  content: '';
}

.accordion-004 summary::before {
  position: absolute;
  right: 2em;
  rotate: 90deg;
}

.accordion-004 summary::after {
  transition: rotate .3s;
}

.accordion-004[open] summary::after {
  rotate: 90deg;
}
.accordion-004[open] summary {
  color: white;
}

.accordion-004 p {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: .3em 2em 1.5em;
  color: #ffffff;
  transition: transform .5s, opacity .5s;
}

.accordion-004[open] p {
  transform: none;
  opacity: 1;
  color: white;
}

a.btn_04:hover p {
  color: #fff;
}

.fa-regular{
  padding-top: 8px;
}

ul.snsbtniti{
  padding:0 29%;
  margin: 0;
  list-style-type:none!important;
  }

  .direct-contact-container {
    max-width: 400px;
    margin: 0 -5%;
}
}


  /* PCでは表示しない */
  @media (min-width: 767px){
    .hamburger-demo-menubox{
      display: none;
    }

    .servicesSP{
      display: none;
    }

    
  }
/*-----------------------------タブレット、横画面---------------------------------*/
  @media screen and (min-width:768px) and ( max-width:1280px){
    header {
      background-color: #212121;
      height: 65px;
      align-items: center;
  }
   
    body{
      max-width: 100%;
    }

    h1{
      width: 70%;
    }

    .key p br ,.text p br{
      display: none;
    }

    .key p{
      padding: 0 30px;
    }

    .main{
      padding: 20px 45px;
    }

    .mainimage{
      position: relative;
      width: 85%;
      height: auto;
    }
    
    .mainLogo{
      width: 400px;
      height: 410px;
      /*object-fit: none;*/
    }

    .services {
      padding: 0 30px 30px;
  }

  a.btn_04 {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 205px;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #c5c8c971;
    background: rgba(0,0,0,0);
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

span.txt1 br ,span.txt2 br ,span.txt3 br{
  display: none;
}

.txt1 {
  font-size: 13px;
  opacity: 0.5;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
}

.txt3{
  font-size: 13px;
  opacity: 0.5;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.txt2{
  margin-bottom: 9px;
}

.main3{
  padding: 30px 30px;
}

.mainphoto{
  min-width: 43%;
}

.photos01{
  display: none;
}

.About{
  padding: 30px;
}

  }